#title {
  font-weight: bold;
  font-size: 30px;
}

body {
  font-family: sans-serif;
  width: 100%;
  background-color: #80bfff;
}

.main {
  width: 99%;
  margin: auto;
}

#inventory,
h1 {
  text-align: center;
}

td {
  padding: 5px;
}

textarea {
  width: 100%;
  resize: none;
}

select {
  align-self: left;
}

.error-message {
  color: #ff7779;
}

.bottom-message {
  text-align: center;
  width: 100%;
}
