body {
  background-color: #1f2326;
}

.login-modal {
  text-align: center;
  width: 500px;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 100px;
  float: none;
}

.login-button {
  width: 150px;
  /* 
  Plex colours
  background-color: #f2ad18;
  border: none;
  color: black;
  */
}

.login-btn-group {
  margin-top: 20px;
}

  /* Full-width inputs */
input[type=text], input[type=password] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  text-align: center;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}
