/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #212529;
  width: 100%;
  height: auto;
  position: relative;
}

.small-screen-header {
  text-align: center;
  background-color: #212529;
  height: auto;
  width: 100%;
  display: none;
}

.small-screen-logo {
  background-color: inherit;
  width: 30%;
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #cceeff;
  color: #212529;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #80bfff;
  color: #212529;
  font-weight: bold;
}

.tab .logo {
  float: left;
  background-color: inherit;
  height: 75px;
}

/* Left side of Top Bar */
.tab .left-top-bar {
  padding-top: 25px;
  float: left;
}

.tab .right-top-bar {
  padding-top: 22px;
  float: right;
}

.tab .right-top-bar .request-button:hover  {
  background-color: #f2ad18;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
}

.tab .right-top-bar .logout-btn:hover  {
  background-color: #ff7779;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
}


/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Hide stuff when the screen is too small */
@media (max-width: 1080px) {
  .tablinks .fas {
    display: none;
  }
  #request-select-btn {
   display: none;
  }

  .right-top-bar .request-button {
    font-size: 0;
    border-radius: 10px;
  }
  .right-top-bar .request-button .fas {
    font-size: initial;
  }
  .right-top-bar .logout-btn {
    font-size: 0;
    border-radius: 10px;
  }
  .right-top-bar .logout-btn .fas {
    font-size: initial;
  }
}

@media (max-width: 500px) {
  .logo {
    display: none;
  }
  .small-screen-header {
    display: block;
  }
}